# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/msvc/.vs/*
/msvc/x64/*
/msvc/new_SIKN_pchip.csv
/msvc/sikn_c.csv
/testing_out/QUICKEST_ULTIMATE_TU.MixDensity/Rho.csv
/testing_out/QUICKEST_ULTIMATE_TU.MixDensity/Rho_finish_predict.xlsx
/testing_out/QUICKEST_ULTIMATE_TU.MixDensity/Rho_u.csv
/testing_out
